<% title "Websites encouraged by KateBeeFoundation" %>

        <p id="contact_holder_link">
            <span><%= link_to_unless_current 'Partners', partners_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Links', link_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Targets', targets_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Objectives', objectives_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Funding', funding_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Structure', structure_path %></span>
            <span>|</span>
            <span><%= link_to_unless_current 'Activities', activities_path %></span>
        </p>

 <p>
  <div id="page_image_title_holder_links">
  <!-- end #page_image_title_holder_links --></div>

  <div id="page_image_holder_about">
  <!-- end #page_image_holder_about --></div>

  <div id="page_image_holder_footer">
  <!-- end #page_image_holder_footer --></div>
</p>




  <div id="contact_holder">
        <p>
          <div class="contact_holder_heading">Our Origin</div>
        </p>

        <p>
        We offer you some websites that could be of great help in research and also social work.<br />
        <br />
        Kindly <a href="mailto:info@katebeefoundation.org">email us</a> here if you have other links you want us to feature on our website. <br />
        <br />
        <a href="http://hdr.undp.org/docs/reports/national/NIR_Nigeria/NIGERIA_2006_en.pdf" target="_blank">www.hdr.undp.org</a><br />
        <a href="http://www.unifem.org/" target="_blank">www.unifem.org/</a> <br />
        <a href="http://www.undp.org/" target="_blank">www.undp.org</a> <br />
        <a href="http://www.un.org/womenwatch/" target="_blank">www.un.org</a><br />
        <a href="http://www.un.org/" target="_blank">www.un.org</a> <br />
        <a href="http://www.rssda-ng.com/" target="_blank">www.rssda-ng.com</a><br />
        <a href="http://www.bridge.ids.ac.uk/" target="_blank">www.bridge.ids.ac.uk/</a><br />
        <a href="http://www.thecommonwealth.org/Internal/33896/33903/36970/the_gms_toolkit/" target="_blank">www.thecommonwealth.org</a><br />
        <a href="http://www.col.org/GenderResources/" target="_blank">www.col.org</a><br />
        <a href="http://www.uneca.org/fr/acgd/en/1024x768/acgd.htm" target="_blank">www.uneca.org</a><br />
        <a href="http://www.oecd.org/document/17/0,3343,fr_2649_33935_36236817_1_1_1_1,00.html" target="_blank">www.oecd.org</a><br />
        <a href="http://www.siyanda.org/" target="_blank">www.siyanda.org</a><br />
        <a href="http://web.worldbank.org/" target="_blank">www.web.worldbank.org/</a><br />
        <a href="http://www.devnetjobs.org/" target="_blank">www.devnetjobs.org</a><br />
        <a href="https://jobs.un.org/Galaxy/" target="_blank">www.jobs.un.org/Galaxy/</a><br />
        <a href="http://www.rdfs.net/index.htm" target="_blank">www.rdfs.net/index.htm</a></p>
        </p>
	<!-- end #contact_holder --></div>
 </p>

