<% title "Get acquinted with the services offered by KateBeeFoundation" %>
        <p></p>

 <p>
  <div id="page_image_title_holder_services">
  <!-- end #page_image_title_holder_services --></div>

  <div id="page_image_holder_board">
  <!-- end #page_image_holder_board --></div>

  <div id="page_image_holder_footer_green">
  <!-- end #page_image_holder_footer_green --></div>
</p>


<div class="services_holder">

  <p>
    <br />
    <div class="contact_holder_heading">EMPOWERMENT STRATEGY</div>
  </p>

  <p>
    <br />
    To ensure a sustainable eradication of poverty, KBF embarks on a comprehensive empowerment strategy taking into cognizance the social, economic and spiritual dimensions, to create robust entrepreneurs. The Empowerment strategy of the Foundation for the next five years is focused on the following business ventures:

    <ul>
      <li>
        KBF farms
      </li>

      <li>
        KBF food
      </li>

      <li>
        KBF fashion
      </li>

      <li>
        KBF transport
      </li>
    </ul>
  </p>

  <p>
    The empowerment strategy is carried out along the following programmatic areas: <br />

    YOUTH EMPOWERMENT PROGRAMME (YEP)– creating young millionaires - <%= link_to "View YEP Brochure", "" %> <br />

    WOMENT EMPOWERMENT PROGRAMME (WEP): breaking micro mentality - <%= link_to "View WEP Brochure", "" %> <br />
  </p>


  <p>

    <div class="contact_holder_heading">Empowerment activities</div> <br />

    <ul>
      <li>
        Skills acquisition - <%= link_to "View Skills News" %>
      </li>

      <li>
        Education - <%= link_to "View News On The Disabled" %>
      </li>

      <li>
        Capacity building - <%= link_to "View CBA pictures" %>
      </li>
    </ul>

  </p>

  <p>

    <div class="contact_holder_heading">GENDER MAINSTREAMING PROGRAMME  (GMP)– transforming mentalities</div> <br />

    Gender equality is the core value of KBF. (link to ‘promoting gender sensitive development) In addition to integrating gender equality principle in all KBF programmes and activities, specific gender equality related activities are also carried out. (link to GMP brochure)
    GMP activities: <br />

    <ul>
      <li>
        Gender trainings - <%= link_to "View Training Pictures" %>
      </li>

      <li>
        Gender Watch - quarterly magazine
      </li>
    </ul>

  </p>

  <p>

    <div class="contact_holder_heading">PROJECTS:</div> <br />

    KBF avails her services and expertise to development agencies, locally and internationally in the implementation of projects related to the Foundation’s vision.
    Ongoing projects: <br />

    Greater Horizons and Opportunities Programme (GHOP) – (commence the GHOP write up and make link (more) for the rest.<br />

	  <%= link_to "MID TERM REPORT" %>

  </p>

<!-- end #services_holder --></div>

